body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

p {
  font-family: "Vollkorn", serif;
  font-size: 1.3rem;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 3em;
  }
}

#container nav {
  border-bottom: solid 3px #000000;
  padding-bottom: 0.5em;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

#container nav ul li {
  margin-right: 1em;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main article pre {
  background-color: #ffffcc;
}

#container footer {
  border-top: solid 1px #000000;
}

a {
  color: #666666;
  text-decoration: none;
}

img[src*="full"] {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
