{{ define "main" }}
<article>
    {{ if not .Params.meta }}
    <aside>       
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
        {{ .Date.Format "January 2, 2006"}}
        </time>

        {{ if .Params.tags }}
        <section>
        <em>
            {{ range $i, $t := .Params.tags }}
                {{ if $i }}, {{ end }}
                <a href="/tags/{{$t | urlize }}/">#{{ $t }}</a>
            {{ end }}
        </em>
        </section>
        {{ end }}
        {{ if .Params.categories }}
        <section>
            Categories: 
        <em>
            {{ range $i, $c := .Params.categories }}
                {{ if $i }}, {{ end }}
                <a href="/categories/{{$c | urlize }}/">{{ $c }}</a>
            {{ end }}
        </em>
        </section>
        {{ end }}
        <section>
                {{ .ReadingTime }} min read
        </section>
    </aside>
    {{ end }}

    <h1>{{ .Title }}</h1>

    {{.Content}}

</article>

{{ end }}