<aside>
    <ul>
        <li>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </li>
        {{ if .Params.categories }}
        <li>
            {{ T "categories" }}
            <em>
                {{ range $i, $c := .Params.categories }}
                    {{ if $i }}, {{ end }}
                    <a href="{{ relLangURL ( printf "categories/%s" ( $c | urlize ) ) }}">{{ $c }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

        {{ if .Params.tags }}
        <li>
            <em>
                {{ range $i, $t := .Params.tags }}
                    {{ if $i }}, {{ end }}
                    <a href="{{ relLangURL ( printf "tags/%s" ( $t | urlize ) ) }}">#{{ $t }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

        <li>{{ T "readingTime" .ReadingTime }}</li>
    </ul>
</aside>
