<aside>
    <ul>
        <li>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </li>
        
        {{ if .Params.categories }}
        <li>
            Categories: 
            <em>
                {{ range $i, $c := .Params.categories }}
                    {{ if $i }}, {{ end }}
                    <a href="/categories/{{$c | urlize }}/">{{ $c }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

        {{ if .Params.tags }}
        <li>
            <em>
                {{ range $i, $t := .Params.tags }}
                    {{ if $i }}, {{ end }}
                    <a href="/tags/{{$t | urlize }}/">#{{ $t }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

        <li>{{ .ReadingTime }} min read</li>
    </ul>
</aside>