<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <title>{{ if and (not .IsHome) (.Title) }}{{ .Params.Title }} - {{ end }}{{ .Site.Title }}</title>
  {{ partial "meta" . }}
  {{ partialCached "header_includes" . -}}
</head>

<body>
  <div id="container">
    <header>
      {{ partial "site_logo" . }}
      <h1>
        <a href="{{ relLangURL "/" }}">{{ .Site.Title | markdownify }}</a>
      </h1>

      <ul id="social-media">
        {{- range .Site.Languages -}}
          {{ if ne .LanguageName $.Site.Language.LanguageName }}
            <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
          {{ end }}
        {{- end -}}
        {{- range .Site.Data.social.social_icons -}}
          {{- if isset $.Site.Author .id }}
             <li>
               <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
               <i class="{{ .icon }} fa-lg"></i>
               </a>
             </li>
           {{- end -}}
        {{ end }}
      </ul>
      {{ with .Site.Params.tagline }}
      <p><em>{{ . | markdownify }}</em></p>
      {{ end }}
    </header>

    {{ partial "nav" . }}

    <main>
