  {{ with .Site.Params.favicon}}
    <link rel="shortcut icon" href="{{ . }}" />
  {{ end }}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <script src="https://kit.fontawesome.com/b76b73e8e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
  {{- range .Site.Params.customCSS -}}
    <link rel='stylesheet' href='{{ . | absURL }}'>
  {{- end -}}
