  {{ with .Site.Params.favicon}}
    <link rel="shortcut icon" href="{{ . }}" />
  {{ end }}

  {{- if .Site.Params.mathjax }}
    <script src="/js/mathjax-config.js" defer></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {{- end }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ "fontawesome/css/all.min.css" | absURL }}" />
  {{ if .Site.Params.google_fonts }}
    {{ $url_part := (delimit .Site.Params.google_fonts "|") | safeHTMLAttr }}
    <link {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" $url_part | safeHTMLAttr }} rel="stylesheet">
  {{ else}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  {{ end }}
  {{ if .Site.Params.disableDarkModeCSS }}
  <link rel="stylesheet" type="text/css" href="{{ "css/styles-without-dark-mode.css" | relURL}}" />
  {{ else}}
  <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
  {{- end -}}
  {{- range .Site.Params.customCSS -}}
    <link rel='stylesheet' href='{{ . | absURL }}'>
  {{- end -}}
