{{ define "main" }}

<section id="home">
        <ul>
          {{ range $index, $page := first 10 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
          <li {{if eq $index 0}}class="first"{{end}}>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more&hellip;</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </section>

{{ end }}