{{ define "main" }}

<section id="home">
        <ul>
          {{ range $index, $page := first 10 (where .Site.RegularPages "Section" "posts") }}
          <li {{if eq $index 0}}class="first"{{end}}>
            {{ if .Params.image }}<div class="image" style="background-image: url({{ .Params.image }})"></div>{{ end }}
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more&hellip;</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </section>

{{ end }}